<mat-nav-list>
    <div class="logo py-4">
      <img src="../../../assets/banner.png">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Servicios profesionales</h2>
    <a class="side-items" mat-list-item  routerLink="/">
      <mat-icon>home</mat-icon>
      Inicio
    </a>
    <a class="side-items" mat-list-item  routerLink="/temperatura"> <mat-icon>local_airport</mat-icon>Tramite de pasaporte</a>
    <a class="side-items" mat-list-item  routerLink="/humedad"> <mat-icon>group</mat-icon>Tramite de doble nacionalidad</a>
    <a class="side-items" mat-list-item  routerLink="/luminosidad"> <mat-icon>brightness_low</mat-icon>Rectificación de acta de nacimiento</a>
    <a class="side-items" mat-list-item  routerLink="/suelo"> <mat-icon>terrain</mat-icon>Apostilla de actas</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon>gavel</mat-icon>Juicios sucesorios I.</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Juicios de divorcio</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon>accessibility_new</mat-icon>Juicios de pensión A.</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Juicios sucesorios I.</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Tramites de escrituras</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Juicios sucesorios I.</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Poderes notariales</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Regularización migratoria</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Juicio agrarios</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Juicios sucesorios I.</a>
    <a class="side-items" mat-list-item  routerLink="/información"> <mat-icon></mat-icon>Levantamientos topograficos</a>
  
</mat-nav-list>